<dl>
  <dt>
  {{#each projects}}
    {{view DashIt.ShowProjectView projectBinding="this"}}
  {{/each}}
  {{#if isNewVisible}}
    <dt>
      {{view DashIt.NewProjectView}}
    </dt>
  {{/if}}
  </dt>
</dl>

<div class="commands">
  <a href="#" {{action "showNew"}}>new project</a>
</div>
