<dl>
  <dt>
  {{#each todos}}
    {{view DashIt.ShowTodoView todoBinding="this"}}
  {{/each}}
  {{#if isNewTodoVisible}}
    <dt>
      {{view DashIt.NewTodoView}}
    </dt>
  {{/if}}

  <div class="commands">
      <a href="#" {{action "showNewTodo"}}>new todo</a><br/>
      <a href="#" {{action "clearFinished"}}>clear finished</a>
  </div>
  </dt>
</dl>
