<div class="row equal-heights" style="text-align: center;">
  <div class="span6 offset3">
    <header class="jumbotron masthead">
      <h1 class="title">projects</h1>
      <br/>
      <div class="inner">
        <script type="text/x-handlebars">
          {{ view DashIt.ListProjectsView }}
        </script>

        <script type="text/javascript">
          $(function() {
            DashIt.projectsController.loadAll(<%= @projects.to_json.html_safe %>);
            DashIt.projectsController.set_user_id(<%= current_user.id %>);
          });
        </script>
      </div>
        <% if current_user %>
          <footer class="footer">
            <%= link_to "Sign out, #{current_user.email}", destroy_user_session_path, method: :delete %>
          </footer>
        <% end %>
    </header>
  </div>
</div>
