<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  {{#each projects}}
    {{view DashIt.ShowProjectView projectBinding="this"}}
  {{/each}}
  {{#if isNewVisible}}
    <tr>
      <td>
        {{view DashIt.NewProjectView}}
      </td>
    </tr>
  {{/if}}
  </tbody>
</table>

<hr>
<div class="commands">
  <a href="#" {{action "showNew"}}>New Project</a>
  <a href="#" {{action "refreshListing"}}>Refresh Listing</a>
</div>
