div.floating {
    margin-bottom: 20px;
    padding: 20px;
    background: #FFF;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow:0 0 15px #666666; 
    -moz-box-shadow: 0 0 15px #666666; 
    box-shadow:0 0 15px #666666; 
}

div.done {
  text-color: #B7B7B7;
  text-decoration: line-through;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}
